<h1>Welcome to Posts Screen</h1>

<form #postForm="ngForm" (submit)="addPost()">
  <div class="form-group">
    <label>User Id</label>
    <input class="form-control" type="number" [(ngModel)]="post.userId" name="userid" #userid="ngModel">
  </div>
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" [(ngModel)]="post.title" name="title" #title="ngModel">
  </div>
  <div class="form-group">
    <label>Body</label>
    <input class="form-control" type="text" [(ngModel)]="post.body" name="body" #body="ngModel">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Add Post</button>
  </div>
</form>
{{post | json}}
{{postResult | json}}

<table class="table">
  <thead>
    <tr>
      <th>
        User Id
      </th>
      <th>
        Post Id
      </th>
      <th>
        Title
      </th>
      <th>
        Body
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>
        {{post.userId}}
      </td>
      <td>
        {{post.id}}
      </td>
      <td>
        {{post.title}}
      </td>
      <td>
        {{post.body}}
      </td>
    </tr>
  </tbody>
</table>