<h1> This is product component</h1>
Welcome {{userName}} - {{fname}}

<form #productForm="ngForm" novalidate>
    <div class="form-controls">
        <label>Product Name</label>
        <input class="form-control" required type="text" [(ngModel)]="product.name" name="productName" #name="ngModel">
        <div *ngIf="!name.valid" class="alert alert-danger">Please provide product name</div>
    </div>
    <div class="form-controls">
        <label>Price</label>
        <input class="form-control" required type="number" [(ngModel)]="product.price" name="productPrice" #price="ngModel">
        <div *ngIf="!price.valid" class="alert alert-danger">Please provide product price</div>
    </div>
    <div>
        <button class="btn btn-primary" [disabled]="!productForm.valid" (click)="addProduct()">Add Product</button>
    </div>
</form>
{{productForm.valid}} {{product| json}}
<!--{{productForm. | json}}-->

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Details</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products;let i=index">
            <td>{{product.name | lowercase }}</td>
            <!--| slice: 0:3-->
            <td>{{product.price | percent}}</td>
            <td> <button [routerLink]="['/product',i+1]">Details</button> </td>
             <td> <button [routerLink]="['/product',i+1,'edit']">Edit</button> </td>
        </tr>
    </tbody>
</table>

{{posts |json }}

<!--<button type="button" (click)="addProduct()">Add Product</button>-->